@import url('https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@300;400;500;600;700&family=Poppins:wght@700&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;
    height: 100vh;
    box-sizing: border-box;
    background-image: url('background.png');
    object-fit: cover;
    background-position: right 35% bottom 40%;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
}

.main-header h1 {
    font-size: 2rem;
    margin-top: -50px;
    
}

p {
    text-align: center;
    font-size: 1rem;
}

.main  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    width: 450px;
    background-color: rgba(109, 118, 134, 0.712);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: relative;
}

.main-control {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 16px;
    column-gap: 8px;

}

.main .main-control input {
    font-size: 32px;
    caret-color: transparent;
    outline-color: rgb(22, 22, 110);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#newgame-btn {
    position: absolute;
    margin: 0 auto;
    bottom: 20px;
    padding: 10px;
    width: 45%;
    border-radius: 8px;
    border: none;
    background-color: rgb(30, 19, 128);
    opacity: 1.0;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#newgame-btn:hover{
    transform: scale(1.1);
}

#cell1, #cell2, #cell3, 
#cell4, #cell5, #cell6, 
#cell7, #cell8, #cell9 {
    width: 90px;
    height: 48px;
    text-align: center;
    background-color: #d1d1d1;
    border: 1px solid #b6b3b3;
    border-radius: 4px;
}

.pop-up-container {
    display: none;
}

#pop-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 250px;
    height: 150px;
    background-color:#d1d1d1;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#pop-up p {
    font-size: 1.4rem;
}

#close-btn {
    padding: 10px;
    background-color: rgb(30, 19, 128);
    color: white;
    width: 45%;
    border: none;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin: 15px;   
}

@media only screen and (max-width: 550px) {
    .main-header h1 {
        font-size: 1.7rem;
    }
    p {
        font-size: 0.9rem;
    }

}


